<!DOCTYPE html>
<html>
  <head>
    <title>Blog4</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if controller_name == 'gallery' && action_name == 'index' %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "fontawesome-all.min"%>
      <%= stylesheet_link_tag "main"%>
      <noscript><%= stylesheet_link_tag "noscript"%></noscript>
    <% end %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
  <div id="main">
    <%= yield %>
    <%= render 'shared/footer' %>
    </div>
    <% if controller_name == 'gallery' && action_name == 'index' %>
      <%= javascript_include_tag "jquery.min" %>
      <%= javascript_include_tag "browser.min" %>
      <%= javascript_include_tag "breakpoints.min" %>
      <%= javascript_include_tag "main" %>
    <% end %>
  </body>
</html>
